{% extends 'base.html.twig' %}

{% block title %}Редактирование книги{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container">

        <h1>Редактирование книги</h1>

        {{ include('book/_form.html.twig', {'button_label': 'Сохранить'}) }}

    </div>

{% endblock %}
