{% extends 'base.html.twig' %}

{% block title %}Добавить книгу{% endblock %}

{% block body %}
    <div class="container">
        <h1>Добавить книгу</h1>

        {{ include('book/_form.html.twig') }}
    </div>
{% endblock %}
